* {
  margin: 0;
  padding: 0;
}

body, input, textarea {
  font-family: times;
  font-size: 12px;
}


#entry_form input, #entry_form textarea, #entry_form button {
  -webkit-appearance: none;
  border-radius: 0;
  margin: 0;
}

/* message_list */

#message_list, html, body {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
}

#message_list {
  padding-bottom: 40px;
}

#message_list .scroller {
  overflow: auto;
  max-height: 100%;
}

#message_list .messages {
  list-style: none;
  display: table;
}

#message_list .message {
  display: table-row;
}

#message_list .message .author {
  width: 90px;
  padding: 5px;
  text-align: right;
  display: table-cell;
  vertical-align: top;
  max-width: 100px;
  overflow: hidden;
}

#message_list .message .content {
  display: table-cell;
  padding: 5px;
}

#message_list .message .content .media.youtube iframe,
#message_list .message .content .media.image img {
  max-height: 150px;
  max-width: 150px;
  border: 0;
}

#message_list .message .content .media.youtube iframe {
  width: 150px;
  height: 150px;
  display: block;
}

#message_list .message .content .media.zoomed.image img,
#message_list .message .content .media.zoomed.youtube iframe {
  width: auto;
  height: auto;
  max-height: none;
  max-width: none;
}

#message_list .message .content .media.zoomed.youtube iframe {
  width: 640px;
  height: 480px;
}


#message_list .message .content .media.zoomed.youtube .zoomer {
  left: 620px;
  right: auto;
}

#message_list .message .media {
  position: relative;
  max-width: 150px;
}

#message_list .message .media .zoomer {
  background-color: rgba(255,255,255,0.5);
  border: 1px solid black;
  color: black;
  width: 20px;
  height: 20px;
  font-size: 11px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  cursor: pointer;
}

#filter_pane {
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
  height: 100px;
}

/* entry_form */

#entry_form {
  height: 20px;
  bottom: 0;
  position: absolute;
  display: table;
  width: 100%;
}

#entry_form .section {
  display: table-cell;
  vertical-align: middle;
  height: 40px;
}

#entry_form .section.name {
  width: 100px;
  max-width: 100px;
  min-width: 100px;
}

#entry_form .section.name input {
  display: block;
  height: 30px;
  width: 90px;
  border: 0;
  text-align: right;
  padding: 5px;
}

#entry_form .section.message {
  width: 70%;
  position: relative;
}

#entry_form .section.upload {
  display: none;
}

#entry_form .section.upload {
  display: none;
}

#entry_form .section.upload {
  width: 150px;
  overflow: hidden;
  position: relative;
}

#entry_form .section.upload button {
  position: absolute;
  right: 0;
}

#entry_form .section.upload.selected {
  display: table-cell;
}

#entry_form .section.message textarea {
  height: 30px;
  display: block;
  width: 100%;
  position: relative;
  padding: 5px 0;
  -webkit-box-shadow: inset 0 0 1px black;
  -moz-box-shadow: inset 0 0 1px black;
  -ie-box-shadow: inset 0 0 1px black;
  box-shadow: inset 0 0 1px black;
  border: 0;
}

#entry_form .section.message .upload_progress_bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

#entry_form .section.message .upload_progress_bar .bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: black;
}

#entry_form .section.send button {
  width: 100%;
  height: 100%;
  border: 0;
}
